.container
  %h1= "#{current_user.name} cart"

  %table.table.table-responsive.table-hover
    %tr
      %th Product
      %th Quantity
      %th Price
      %th Subtotal
      %th Options
    - current_user.cart.order_items.each do |order_item|
      %tr
        %td= order_item.product.name
        %td= order_item.quantity
        %td= number_to_currency(order_item.product.price)
        %td= number_to_currency(order_item.product.price * order_item.quantity)
        %td
          %a.btn.btn-primary product detail
          %a.btn.btn-danger delete product

  = "Total: $#{number_to_currency(@cart.total_price)}"
  = link_to 'Back', products_path, { class: "btn btn-primary" }
