.container
  %h1= "#{current_user.name} cart"

  %table.table.table-responsive.table-hover
    %tr
      %th Product
      %th Quantity
      %th Price
      %th Subtotal
      %th Options
    - @order.order_items.includes(:product).each do |order_item|
      %tr
        %td= order_item.product.name
        %td= order_item.quantity
        %td= order_item.product.price
        %td= order_item.product.price * order_item.quantity
        %td
          %a product detail
        %td
          %a delete product

  = "Total: $#{2}"
  = render 'order_items/new'
